.loaderDiv{
    text-align: center;
    padding: 10% 0;
}
.loader{
    height: 120px;
    width: 120px;
}

@media(max-width:450px){
    .loaderDiv{
        padding: 35% 0 30% 0;
    }
    .loader{
        height: 70px;
        width: 70px;
    }
}