.container {
    height: 500px;
    padding: 5%;
    color: #0b5ed7; 
    
}
.nameHeading{
    color: #ea5c2b;
}

.logoutBtn {
    font-size: 1.7rem;
    color: white
}
/* ________________________Media Querry_______________________________________ */

@media(max-width:450px){
    .container {
        height: 500px;
        padding: 20% 2% 0 2%;
        color: #0b5ed7; 
        
    }
    
    .logoutBtn {
        font-size: 1.7rem;
    }
}