.footer {
    background-color: #7e7d7dcf;
    position: relative;
    z-index: 1;
}

.brand {
    margin: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.footerContent {
    margin-top: 20px;
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footerLinks:hover {
    color: black;
    cursor: pointer;
}
.footerIcon {
    font-size: 2rem;
    margin: 8px;
    color: white;
    cursor: pointer;
}

.footerIcon:hover {
    color: black;
}

.copyright_text {
    text-align: center;
    background-color: #ea5c2b;
    color: white;
    padding: 10px;
}


@media(max-width:450px){
    
.brand {
    margin: 15px;
    color: white;
    font-size: 1.5rem;
}
    .footer_headings{
        font-size:1rem;
    }
.footerLinks{
    margin: 2px 0;
    font-size: 14px;
}
.footerIcon {
    font-size: 14px;
    margin: 3px;
 
}
}