.restContainer{
    padding: 3%;
}
.thumbImg{
    border: 2px solid white;
    height: 400px;
    width: 100%;
}

.restImages{
    display: grid;
    grid-template-columns: 50% 50%;
}
.imageGallery{
    display: grid;
    grid-template-columns: 50% 50%;
}
.galleryIMG{    
    width: 100%;
    border: 2px solid white;
    height: 200px;
}
.heading{
    color: #ea5c2b;
}

.address{
    margin-top: 10px;
}


@media(max-width:450px){
    .restContainer{
        padding: 1%;
    }
    .restImages{
        display:block;
        grid-template-columns:none;
    }
    .thumbImg{
        height: 200px;
        width: 100%;
    }
    .galleryIMG{    
        display: none;
      width: 0;
      border: 2px solid white;
      height: 0;
    }  
    .imageGallery{
        display: none;
        grid-template-columns:none;
    }
     
    .address{
        margin-top: -5px;
        margin-bottom: 1px;
    }
  }


